.css-5nwj3y {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  justify-content: center;
  background: #03363d;
  gap: 65px;
  padding: 22px;
  margin: 0px;
} 
body {
 padding: 0px;
 margin: 0px;
}
.MuiGrid-root.MuiGrid-direction-xs-row.css-1n5khr6 {
    width: 95% !important;
    margin: auto;
}
.menu-text{
color: white;
text-decoration: none;
}
.grid_paymentType {
    width: 40%;
}
.grid_customerType {
    width: 40%;
}
.css-1usuzwp-MuiButtonBase-root-MuiTab-root.Mui-selected {
    color: #1976d2;
    background: #e5e5e582;
} 
.tabs_container{
    margin-left: 30px;
}

button#income-tab-0 {
    width: 100%;
}
button#income-tab-1 {
    width: 100%;
}
button#income-tab-2 {
    width: 100%;
}